.general-container {
  height: 100%;
  width: 100%;
  background-color: beige;
}

/* Estilo del Form */
.form {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: bisque;
}
.label {
  display: block;
  margin-bottom: 10px; /* Agrega un espacio entre las etiquetas */
}

.input {
  margin-left: 0; /* Elimina los márgenes horizontales */
  margin-right: 0;
  width: calc(
    100% - 20px
  ); /* Establece el ancho del input teniendo en cuenta el margen izquierdo de la etiqueta */
}
