
.container{
}

h2 {
  margin-top: 5em;
  text-align: center;
  margin-bottom: 20px;
  color: brown;
}

form {
  display: flex;
  flex-direction: column;
  border-color: black;
}

label {
  margin-top: 1.5em;
  align-self: center;
  margin-bottom: 10px;
  width: 30em;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonLogin {
  align-self: center;
  width: 7em;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10em;
}
